body {
	background-color: #eeeeee;
	color: #333;
	line-height: 1.5;
	letter-spacing: 0.1em;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
}

.container{
	padding: 1em;
	height: auto;
	width: 90%;
	border-radius: .5em;
	box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
	12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  }

  h1 {
	font-size: 1.5em;
	font-weight: 700;
}

h2 {
	font-size: 1em;
    font-weight: 400;
    margin-top: 2em;
}

#search-form {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

#query-wrapper {
	display: flex;
	margin-bottom: 0.5rem;
}

#query-button-wrapper {
	display: flex;
}

p.names {
	font-size: 1.5em;
	text-align: center;
}

p.date {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

@media only screen and (min-width: 479px) {
    .byDate {
        display: flex;
    }
  }